<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApp">
    <activity
        android:name=".DetalleUsa"
        android:exported="false" />
    <activity
        android:name=".DetalleItalia"
        android:exported="false" />
    <activity
        android:name=".DetalleMexico"
        android:exported="false" />
    <activity
        android:name=".DetalleAustralia"
        android:exported="false" />
    <activity
        android:name=".DetalleEspana"
        android:exported="false" />
    <activity
        android:name=".mexico"
        android:exported="false" />
    <activity
        android:name=".australia"
        android:exported="false" />
    <activity
        android:name=".DetalleInglaterra"
        android:exported="false" />
    <activity
        android:name=".usa"
        android:exported="false" />
    <activity
        android:name=".Italia"
        android:exported="false" />
    <activity
        android:name=".inglaterra"
        android:exported="false" />
    <activity
        android:name=".espana"
        android:exported="false" />
    <activity
        android:name=".ListaDestinos"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>

</manifest>